{include file='v2/header-tos.tpl'}
<!-- Begin page content -->
<div class="section no-pad-bot" id="index-banner" style="margin-top: 50px;">
<div class="container">
    <div class="page-header">
        <h1>用户协议 Terms of Service </h1>
    </div>
    <p>{$config["appName"]}，以下简称本站。</p>
    <h3>隐私</h3>
    <p>
        <ul>
            <li>用户注册时候需要提供邮箱以及密码，并自行保管。邮箱为用户的唯一凭证。</li>
            <li>本站会加密存储用户密码，尽量保证数据安全，但并不保证这些信息的绝对安全。</li>
        </ul>
    </p>

    <h3>使用条款</h3>
    <p>
        <ul>
            <li>禁止使用本站服务进行任何违法恶意活动。</li>
            <li>使用任何节点，需遵循节点所属国家的相关法律以及中国法律。</li>
            <li>禁止滥用本站提供的服务。</li>
            <li>对于免费用户，我们有权在不通知的情况下删除账户。</li>
            <li>任何违法使用条款的用户，我们将会删除违规账户并没收使用本站服务的权利。</li>
       </ul>
    </p>

    <h3>其它</h3>
    <p>
    <ul>
        <li>本站仅限人类及猫注册使用。</li>
        <li>TOS更新时用户需要遵守最新TOS。</li>
    </ul>
    </p>

</div>
</div>
{include file='v2/footer.tpl'}