#about-price{
    color: #888888;
}

.price-title{
    background-color: #d1d1d1;
    margin: -16px -16px 0 -16px;
    padding: 20px;
    font-size: 20px;
    border-radius: 5px;
}

.price-info ul{
    list-style: none;
    padding: 0px;
}

.price-info ul li{
    font-size: 16px;
    line-height: 32px;
}

.price-info{
    text-align: center;
}

.price-p{
    font-size: 18px;
    color: #fff;
}

.price-info-p .fa{
    color: #00a65a;
}

.price-btn{
    color: #fff;
    background-color: #F05F40;
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 20px;
}

.login-box-body, .register-box-body{
    border-radius: 15px;
}

.login-page,.register-page{
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}

#particles-js{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -99;
}

.package-container{
    background-color: #f0f0f0;
    padding: 50px 20px 20px 20px;
}